extends layout

append head
	title Chess
	link(href="/css/chessboard-0.3.0.min.css", rel='stylesheet')
	script(src='/js/timer.js')
	script(src='/js/chessboard-0.3.0.min.js')
	script(src='/chess.js/chess.js')
	script(src="/socket.io/socket.io.js")
	script(src='/js/chess.bundle.js')



block content
	-var margin = "margin-top:5px"
	#main
		#clock
		#board(style={width:'400px'})
		button(id='flip', style={"margin-top" : '5px', "background": "green", "color": "red"}) Flip
		button(id='resign', style={"margin-top" : '5px', "background": "green", "color": "red"}) Resign	
	p Status: 
		span#status
	p FEN: 
		span#fen
	p PGN: 
		span#pgn

	ul#messages
	form(action="", name="form1")
		input#m(autocomplete="off")
		button send


