extends layout.pug

block content
	h1(style={'text-align':'center'}) My home page
	nav(style={'text-align':'center'})
		a(href="/sign-up" style={'margin-right':'30px'}) Register
		a(href="/login") Login
	if user
		h2(style={'text-align':'center'})= user.alias

