extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src='js/seek.bundle.js')

append content
	.container
		h1(style={'text-align':'center'}) Seek
		.row
			.col-sm-12.Games(style={'height':'500px'})
		.row(style={'text-align':'center'})
			form(method='post', id='seekForm' style={'margin':'0 auto'})
				#controls
					select#time(name='time', style={'width':'100px'})
						span Time
						option(value='1') 1 Minutes
						option(value='3') 3 Minutes
					select#money(name='money', style={'width':'100px'})
						span Money
						option 1$
						option 2.5$
						option 5$
						option 10$
						option 15$
				#color
					label 
						span White
						input(type="radio" name="color" value='white')
					label 
						span Random
						input(type="radio" name="color" value="random" checked)
					label 
						span Black
						input(type="radio" name="color" value="black") 
				button.btn.btn-primary(type='submit') Seek


