extends layout

block content
	- var format = {'position': 'relative','left': '50%','transform': 'translateX(-50%)','top': '6px'};
	.container
		h2.page-header(style={'text-align':'center'}) Register
		if !success
			if (errors)
				each err in errors
					div.alert.alert-danger= err.msg
		else
			section.alert.alert-success 
				p Successfull registration! Please visit your e-mail to complete the registration process
		div#sign-up
			form(method="POST",action="/register")
				.form-group
					label(for="username") Username
					input.form-control(type="text", name="username")
				.form-group
					label(for="email") E-mail
					input.form-control(type="text", name="email")
				.form-group
					label(for="password") Password
					input.form-control(type="password", name="password")
				.form-group
					label(for="passwordConfirm") Confirm Password
					input.form-control(type="password", name="passwordConfirm")
				button#submit.btn.btn-primary(style=format) Submit